<%- include('partials/header') %>
<body>
    <div id="react-app"></div>

    <header>
        

        <ul class="entete">
            <li><a href="/Acceuil">Acceuil</a></li>
            <li>catalogue</li>
            <li>jeux</li>
            <li class="creerCompte"><a href = "/signup" >Creer un compte</a></li>
            <li><a href = "/login" >Mon compte</a></li>


        </ul>
    </header>



   
   

    <div class="fond">

        

        <nav class="sylvanas">
     
    <a href="/figurineSylvanas"><img src="/images/sylvanas.jpg" alt="sylvanas" class="sylvanas "></a>
     </nav>
     <nav class="thrall">
    
    <a href="/figurineThrall"><img src="/images/thrallwow.jpg" alt="thrall" class="thrall "></a>
</nav>
   </div>

   <div class="fonddeux">

    

    
    
    

    <div class="slider-container">
        <div class="menu">
          <label for="slide-dot-1"></label>
          <label for="slide-dot-2"></label>
          <label for="slide-dot-3"></label>
        </div>
        
        <input class="slide-input" id="slide-dot-1" type="radio" name="slides" checked>
        <img class="slide-img" src="/images/nagrand.jpg">
  
        <input class="slide-input" id="slide-dot-2" type="radio" name="slides">
        <img class="slide-img" src="https://www.codeur.com/tuto/wp-content/uploads/2021/12/slide2.jpg">
        
        <input class="slide-input" id="slide-dot-3" type="radio" name="slides">
        <img class="slide-img" src="/images/tauren.jpg">
  
      </div>

     


   </div>

   
   
   <script src="js/script.js"></script>
</body>




</html>